/*@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);*/

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

html {
  height: 100%;
}

body {
  position: relative;
  background: #FFF;
  color: #000;
  font: 16px/24px Roboto, sans-serif;
  margin: 0;
  padding-bottom: 200px;
  min-height: 100%;
}

a {
  color: inherit;
}

p,
ul {
  margin: 30px 0;
}

pre {
  margin: 30px;
}

ul.padded li {
  margin-bottom: 1em;
}

li button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
}

.reveal {
  display: none;
  overflow: hidden;
}

.warning {
  position: relative;
  padding-left: 70px;
  font-weight: bold;
  margin: 50px 0 100px 0;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDEiIGhlaWdodD0iMzYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTSAyMiAzMiBMIDE5IDMyIEwgMTkgMjkgTCAyMiAyOSBMIDIyIDMyIFogTSAyMS41IDI3IEwgMTkuNSAyNyBMIDE4LjUgMTMgTCAyMi41IDEzIEwgMjEuNSAyNyBaIE0gMCAzNiBMIDIwLjUgMCBMIDQxIDM2IEwgMCAzNiBaIE0gNSAzMyBMIDM2IDMzIEwgMjAuNSA1LjUgTCA1IDMzIFoiLz48L3N2Zz4=) 0 5px no-repeat;
}

header {
  position: relative;
  cursor: default;
}

.inner {
  margin: 0 auto;
  max-width: 850px;
  padding: 0 30px;
}

.editor {
  background: #F7F7F7;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.editor pre {
  margin: 0;
}

.editor .inner {
  max-width: 1200px;
  padding: 0;
}

.input {
  width: 50%;
  float: left;
  padding: 30px;
  border-right: 1px dotted rgba(0, 0, 0, 0.3);
}

.output {
  width: 50%;
  float: right;
  padding: 30px;
}

.clearfix {
  clear: both;
}

h1 {
  font: lighter 35px/40px Roboto, sans-serif;
  display: table-cell;
  vertical-align: middle;
  height: 200px;
}

h2 {
  font: 16px/30px Roboto, sans-serif;
  margin: 0 0 30px 0;
  position: relative;
}

h3 {
  font: bold 20px/20px Roboto, sans-serif;
  text-align: center;
  margin: 100px 0 0 0;
}

h2 .dropdown {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  outline: none;
  display: inline-block;
}

h2 .button {
  display: inline-block;
  float: right;
  visibility: hidden;
  text-decoration: none;
  outline: none;
}

h2 .dropdown,
h2 .button {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.7);
}

h2 .button:active,
h2 .button:focus,
h2 .button:hover,
h2 .dropdown:focus,
h2 .dropdown:hover {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
  background: #FFF;
  color: #000;
}

h2 .menu-arrow {
  display: none;
  position: relative;
}

h2 .dropdown.enabled .menu-arrow {
  display: inline;
}

h2 .dropdown:focus {
  box-shadow:
    inset 0 0 0 1px rgba(0, 0, 0, 0.3),
    0 2px 4px rgba(0, 0, 0, 0.15);
}

h2 .dropdown:focus:before,
h2 .dropdown:focus:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  background: #FFF;
  z-index: 200;
}

h2 .dropdown:focus:before {
  left: 0;
  margin-top: -2px;
  height: 4px;
  box-shadow:
    inset -1px 0 0 rgba(0, 0, 0, 0.3),
    inset 1px 0 0 rgba(0, 0, 0, 0.3);
}

h2 .dropdown:focus:after {
  left: 1px;
  margin-top: 0;
  height: 2px;
}

h2 .menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 200px;
  padding: 8px 0;
  margin-top: -1px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 100;
  text-align: left;
}

h2 .menu-item {
  display: block;
  padding: 0 15px;
  font-size: 14px;
  line-height: 26px;
  cursor: pointer;
}

h2 .menu-item.disabled {
  color: #BBB;
  cursor: default;
}

h2 .menu-item:hover:not(.disabled) {
  background: #EEE;
}

h2 .dropdown.enabled:focus .menu-arrow:after,
h2 .dropdown.enabled:focus .menu-arrow:before,
h2 .dropdown.enabled:focus .menu {
  display: block;
}

.editor-wrapper {
  position: relative;
}

.ace-tm {
  background: none !important;
  color: inherit !important;
}

.ace_editor {
  font: inherit;
  width: 100%;
  min-height: 200px;
}

.ace_editor:not(.ace_focus) .ace_cursor {
  display: none;
}

.ace_scroller.ace_scroll-left {
  box-shadow: none !important;
}

pre {
  font: 14px/18px 'Consolas', 'Monaco', 'Menlo', 'Ubuntu Mono', 'source-code-pro', monospace !important;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #444;
}

.ace_line {
  color: #444 !important;
}

.ace_comment {
  color: #BBB !important;
}

.ace_keyword {
  color: #888 !important;
}

.ace_string {
  color: #888 !important;
}

.ace_selected-word {
  background: none !important;
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
}

.ace_error, .ace_warning {
  padding-bottom: 2px;
  background-repeat: repeat-x;
  background-position: left bottom;
}

.ace_error {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIzIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTIuNSwgMCkiPjxwYXRoIGQ9Ik0gMCAyLjUgQyAxLjUgMi41IDEuNSAwLjUgMyAwLjUgNC41IDAuNSA0LjUgMi41IDYgMi41IDcuNSAyLjUgNy41IDAuNSA5IDAuNSAxMC41IDAuNSAxMC41IDIuNSAxMiAyLjUiIGZpbGw9Im5vbmUiIHN0cm9rZT0icmdiYSgyNTUsIDAsIDAsIDAuNzUpIiBzdHJva2Utd2lkdGg9IjEuMTI1cHgiLz48L2c+PC9zdmc+);
}

.ace_warning {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIzIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTIuNSwgMCkiPjxwYXRoIGQ9Ik0gMCAyLjUgQyAxLjUgMi41IDEuNSAwLjUgMyAwLjUgNC41IDAuNSA0LjUgMi41IDYgMi41IDcuNSAyLjUgNy41IDAuNSA5IDAuNSAxMC41IDAuNSAxMC41IDIuNSAxMiAyLjUiIGZpbGw9Im5vbmUiIHN0cm9rZT0icmdiYSgxOTEsIDE5MSwgMCwgMC43NSkiIHN0cm9rZS13aWR0aD0iMS4xMjVweCIvPjwvZz48L3N2Zz4=);
}

.editor-wrapper .ace_tooltip {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 12px;
  line-height: normal;
  position: absolute;
  padding: 1px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: #FFF;
  z-index: 5;
  max-width: 500px;
  word-break: break-word;
  white-space: pre-wrap;
  margin: 1px 0 0 -3px;
  display: none;
  color: #000;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 100px;
  cursor: default;
  text-align: center;
}

footer span {
  color: #999;
  margin: 0 6px;
}

@media screen and (max-width: 700px) {
  body {
    padding-bottom: 20px;
  }

  h1 {
    font-size: 30px;
    line-height: 40px;
    height: auto;
    padding: 50px 0;
  }

  .input {
    border-right: none;
    margin-bottom: 50px;
  }

  .editor {
    background: none;
    border: none;
  }

  .input,
  .output {
    float: none;
    width: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background: #F7F7F7;
  }

  footer {
    position: static;
    line-height: 40px;
    padding-top: 30px;
  }

  footer a {
    display: block;
  }

  footer span {
    display: block;
    height: 0px;
  }
}
