@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

* {
  box-sizing: border-box;
}

body {
  margin: 0 0 200px 0;
  font: 14px/20px Roboto, sans-serif;
  background: white;
  color: #444;
}

a {
  color: inherit;
}

ul {
  padding: 0 0 0 40px;
}

.chunk {
  white-space: pre;
}

pre {
  white-space: pre-wrap;
}

pre,
.ace_editor {
  font: 12px/16px 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
}

.ace_selected-word {
  background: none !important;
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
}

.ace_error, .ace_warning {
  padding-bottom: 2px;
  background-repeat: repeat-x;
  background-position: left bottom;
}

.ace_error {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIzIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTIuNSwgMCkiPjxwYXRoIGQ9Ik0gMCAyLjUgQyAxLjUgMi41IDEuNSAwLjUgMyAwLjUgNC41IDAuNSA0LjUgMi41IDYgMi41IDcuNSAyLjUgNy41IDAuNSA5IDAuNSAxMC41IDAuNSAxMC41IDIuNSAxMiAyLjUiIGZpbGw9Im5vbmUiIHN0cm9rZT0icmdiYSgyNTUsIDAsIDAsIDAuNzUpIiBzdHJva2Utd2lkdGg9IjEuMTI1cHgiLz48L2c+PC9zdmc+);
}

.ace_warning {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIzIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTIuNSwgMCkiPjxwYXRoIGQ9Ik0gMCAyLjUgQyAxLjUgMi41IDEuNSAwLjUgMyAwLjUgNC41IDAuNSA0LjUgMi41IDYgMi41IDcuNSAyLjUgNy41IDAuNSA5IDAuNSAxMC41IDAuNSAxMC41IDIuNSAxMiAyLjUiIGZpbGw9Im5vbmUiIHN0cm9rZT0icmdiYSgxOTEsIDE5MSwgMCwgMC43NSkiIHN0cm9rZS13aWR0aD0iMS4xMjVweCIvPjwvZz48L3N2Zz4=);
}

#editor-container .ace_tooltip {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  padding: 1px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: #FFF;
  z-index: 5;
  max-width: 500px;
  word-break: break-word;
  white-space: pre-wrap;
  margin: 1px 0 0 -3px;
  display: none;
  color: #000;
}

section {
  position: relative;
  padding: 0 20px;
  max-width: 800px;
  margin: auto;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  line-height: 50px;
  z-index: 1;
  color: white;
  cursor: default;
}

.live-editor-open header,
header.solid {
  background: #141414;
  border-bottom: 5px solid #CCC;
}

header div {
  display: table-cell;
  vertical-align: top;
  height: 50px;
}

header div:first-child {
  width: 100%;
}

header h2 {
  margin: 0;
  font: bold 25px/50px 'Helvetica Neue', Helvetica, 'Segoe UI', sans-serif;
  color: transparent;
  transition: color 0.25s;
}

.live-editor-open header h2,
header.logo h2 {
  color: white;
}

header a {
  position: relative;
  line-height: 20px;
  display: inline-block;
  text-decoration: none;
  white-space: pre;
  margin-left: 30px;
}

header a:hover {
  text-decoration: underline;
}

#background {
  overflow: hidden;
  background: #141414;
  color: #F8F8F8;
  border-bottom: 5px solid #CCC;
  cursor: default;
}

#background .spacer {
  height: 500px;
}

#background h1 {
  position: absolute;
  left: 0;
  top: 50%;
  font: lighter 40px/50px 'Helvetica Neue', Helvetica, 'Segoe UI', sans-serif;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  letter-spacing: 2px;
  margin: 0 20px;
  color: white;
}

#background h1 span {
  display: inline-block;
  vertical-align: middle;
}

#background h1 b {
  letter-spacing: 0;
}

h3 {
  font-size: 24px;
  padding-top: 100px;
}

h4 {
  font-size: 16px;
  margin-top: 50px;
}

ul.padded li {
  margin-bottom: 1em;
}

.expanded {
  list-style-type: none;
  margin-left: -40px;
  margin-bottom: 50px;
}

.expand {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
  color: inherit;
}

.expanded .expand {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 50px;
}

.expanded + .expanded .expand {
  margin-top: 0;
}

pre .button {
  position: absolute;
  right: 10px;
  top: 10px;
}

.button,
.dropdown .menu {
  font: 12px/20px Roboto, sans-serif;
  border-radius: 3px;
}

.button {
  background: linear-gradient(#EEE, #DDD);
  border: 1px solid #AAA;
  padding: 0 10px;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:active:not(.disabled) {
  background: linear-gradient(#CCC, #DDD);
}

.button.disabled {
  opacity: 0.5;
  cursor: default;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .button {
  min-width: 100px;
}

.dropdown.open .button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown .menu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  min-width: 100%;
  background: white;
  margin-top: -1px;
  padding: 5px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropdown.open .menu {
  display: block;
}

.dropdown .item {
  padding: 0 10px;
  white-space: pre;
  cursor: pointer;
}

.dropdown .item:hover {
  background: #DDD;
}

.reveal {
  display: none;
  overflow: hidden;
  margin: 0 -3px;
  padding: 0 3px;
}

#content pre {
  position: relative;
  margin: 30px 0;
  padding: 6px;
}

#content pre,
#editor-container,
#editor-generated {
  border: 1px solid #CCC;
  border-radius: 5px;
  box-shadow: 0 0 0 3px #EEE;
}

.live-editor-open #live-editor {
  display: block;
}

.live-editor-open #nav-try-live {
  line-height: 50px;
  margin: 0 -15px;
  padding: 0 15px;
  background: white;
  color: black;
}

.live-editor-open #nav-try-live:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  height: 5px;
  background: white;
}

#live-editor {
  display: none;
  position: fixed;
  left: 0;
  top: 50px;
  right: 0;
  bottom: 0;
  background: white;
  border-top: 5px solid #CCC;
}

#editor-container {
  position: absolute;
  left: 20px;
  top: 50px;
  right: 50%;
  bottom: 20px;
  margin-right: 12px;
}

#editor {
  position: absolute;
  left: 6px;
  top: 6px;
  right: 0;
  bottom: 6px;
}

#editor-container-label {
  position: absolute;
  top: 15px;
  left: 20px;
}

#editor-container-buttons {
  position: absolute;
  top: 15px;
  right: 50%;
  margin-right: 12px;
  z-index: 7; /* ace_scrollbar is 6 */
}

#editor-generated {
  position: absolute;
  left: 50%;
  top: 50px;
  right: 20px;
  bottom: 20px;
  margin-left: 12px;
  padding: 6px;
  overflow: auto;
}

#editor-generated-label {
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: 12px;
}

#editor-generated-buttons {
  position: absolute;
  top: 15px;
  right: 20px;
}

#editor-generated pre {
  margin: 0;
}

#editor-container-label,
#editor-generated-label {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}

.theme-twilight .ace_comment {
  color: #5F5A60 !important;
}

.theme-twilight .ace_keyword {
  color: #CDA869 !important;
}

.theme-twilight .ace_constant {
  color: #7587A6 !important;
}

.theme-twilight .ace_number {
  color: #CF6A4C !important;
}

.theme-twilight .ace_string {
  color: #8F9D6A !important;
}

.theme-twilight .ace_entity {
  color: #F9EE98 !important;
}

.theme-twilight .ace_type {
  color: #9B703F !important;
}

.theme-light .ace_comment {
  color: #BBB !important;
}

.theme-light .ace_keyword {
  color: #59A !important;
}

.theme-light .ace_constant {
  color: #229 !important;
}

.theme-light .ace_number {
  color: #B95 !important;
}

.theme-light .ace_string {
  color: #393 !important;
}

.theme-light .ace_entity {
  color: inherit !important;
}

.theme-light .ace_type {
  color: #59A !important;
}

@media (max-width: 500px) {
  #nav-try-live, #nav-github {
    display: none;
  }
}

@-webkit-keyframes scroll {
  0% { -webkit-transform: translateY(0); }
  100% { -webkit-transform: translateY(-8112px); } /* 338 * 24px */
}

@-moz-keyframes scroll {
  0% { -moz-transform: translateY(0); }
  100% { -moz-transform: translateY(-8112px); } /* 338 * 24px */
}

@keyframes scroll {
  0% { transform: translateY(0); }
  100% { transform: translateY(-8112px); } /* 338 * 24px */
}
